<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap');
    </style>
</head>
<body>
    <div class="welcome">
        <h2><%= lids.length %> lids</h2>
        <table>
            <thead>
                <tr>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <% lids.forEach(function(lid){ %>
                    <tr>
                        <td><%= lid.email %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
<style>
    body {
        font-family: Roboto;
    }
    h2 {
        color: #3f87a6
    }
    thead,
tfoot {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: .8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: center;
}
</style>
</html>